# Virtual environments
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
*.env.local

# OS files
.DS_Store
Thumbs.db

# Logs / archives
*.log
*.gz
*.zip

# Generated media
display/video_prepared.mp4
